checkpoints/*
output/*
data/*
ckpt/*
fps/*
wandb/*
test/*
# selre/*
unet/extra_modules/*
unet/backbone/*
.github/*
**/__pycache__
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# C extensions
*.so
# Distribution / packaging
Python
build/
develop-eggs/
dist/
downloads/
eggs/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
installed.cfg
*.egg
MANIFEST
# Virtual environments
env
venv
env/
venv/
ENV/
env.bak/
venv.bak/
# IDEs and editors
idea/
vscode/
# etc